---
layout: default
title: Enthusiast
---

    {% for post in site.posts %}
            <div class="episode" {% if post.landscape == 'y' %}id="landscape" {% endif %}>
                <a href="{{post.url}}">
                    <div class="image_container">
                        <img src="/resources/images/{{post.image}}" alt="{{post.alt}}">
                    </div>
                    <div class="title_container">
                        {{post.name | upcase}}:<br>
                        {{post.topic | upcase}}
                    </div>
                </a>
            </div>
            
    {% endfor %}