<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ page.title }}!</title>

    <meta name="description" content="Enthusiast Podcast">
    <meta name="author" content="Mark Bramhill">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" href="/resources/css/enthusiast.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="content">
        <div class="nav">
            <a href="/"><img src="/resources/icons/enthusiast.png" alt="'Enthusiast!' in sign painter lettering"></a>
            <a class="nav_item" href="/subscribe">SUBSCRIBE</a>
            <a class="nav_item" href="/about">ABOUT</a>
        </div>

        {{ content }}

        <div class="footer">
            <a href="https://twitter.com/EnthusiastFM"><img class="social svg" src="/resources/icons/twitter.svg" style="color: white;"></a>
            <a href="https://instagram.com/EnthusiastFM"><img class="social svg" src="/resources/icons/instagram.svg"></a>
        </div>
    </div>
</body>

</html>